<ion-view view-title="Playlists">
  <ion-content>
   <label class="item item-input item-select">
    <div class="input-label">
     Select Drink
    </div>
    <select>
      <option>Blue</option>
      <option selected>brewed Coffee</option>
      <option>Red</option>
    </select>
  </label>

  
   <label class="item item-radio">
    <input type="radio" name="group">
    <div class="item-content">
      fluid ounce (oz)
    </div>
    <i class="radio-icon ion-checkmark"></i>
  </label>

   <label class="item item-radio">
    <input type="radio" name="group">
    <div class="item-content">
    	milliliters (ml)
    </div>
    <i class="radio-icon ion-checkmark"></i>
  </label>

  </ion-content>
</ion-view>
