/* Empty. Add your own CSS if you like */
#coffee{
	color: #4e312d;
	font-size: 20px;
	font-weight:bold;
}

#cmg{
	font-weight:bold;
	
}

#size{
	font-weight:bold;

}



#cups{
	font-weight:bold;

}



/*  <li id="size">{{coffeeSize}}<br></li>
  <li id="cur">{{currency}}<br></li>
  <li id="cups">{{cups}} cups</li>