/* Empty. Add your own CSS if you like */
#coffee{
	color: #4e312d;
	font-size: 22px;
	font-weight:bold;
}

#cmg{
	font-weight:bold;
	font-size: 17px;
}

#size{
	font-weight:bold;
	font-size: 17px;
}



#cups{
	font-weight:bold;
	font-size: 17px;
}
#back{
}



/*  <li id="size">{{coffeeSize}}<br></li>
  <li id="cur">{{currency}}<br></li>
  <li id="cups">{{cups}} cups</li>